
PORT=3001
DASHBOARD_DB_URI=mongodb+srv://archit:pass2025@cluster0.fgdhm3m.mongodb.net/DevNexus_Dashboard_Backend?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=DevNexusDashboardAdminJsonWebToken
SESSION_SECRET_KEY=ThisIsSessionSecretKey

# EMAIL_USER=abdulazeem@devnexus.in
# EMAIL_PASS=AbdulDN@12
# SMTP_HOST=smtp.hostinger.com
# SMTP_PORT=465
# ADMIN_MAIL=abdulazeem@devnexus.in
# ADMIN_MAIL2=abdulazeem@devnexus.in
# USER_MAIL=abdulazeem@devnexus.in

SMTP_HOST=smtp.gmail.com 
SMTP_PORT=465 
ADMIN_MAIL=abdulazeem3802@gmail.com
ADMIN_MAIL2=abdulazeem3802@gmail.com
EMAIL_USER=abdulazeem3802@gmail.com
EMAIL_PASS=ukcamywarmanubrp
USER_MAIL=abdulazeem3802@gmail.com

# ACCESS_TOKEN=EAASpfCNY5KUBPF9xHnbWrWkUvfvJxW9AYqJlosLDTFYavhSi7L9IYpeNwFzTGtlq8V7Jdg3aoEFX4S1XSGQEgDqVgf4jRkg9hM7nWYSwE1OJkAtrrddZCM8P0jlEurys9POTdgu7UELkgYmarZBqTA3JpAmQMo2z18uIjdZCWsx2kkO5gUFLjizNUWRPg5MdymZCtFLru4az9sUOfAPl
# AD_ACCOUNT_ID=act_1812168002687945
# FORM_ID=1437898417630754

CLIENT_URL=https://meta-testing-3.vercel.app

APP_ID=1312250540909733
APP_SECRET=b81ecd9e498294bd027eb791347a6274
VERIFY_TOKEN=mywebhooktoken
REDIRECT_URI=https://dbbackend.devnexussolutions.com/facebook/callback

FRONTEND_URL=https://meta-testing-3.vercel.app

# google IDs from my account
GOOGLE_CLIENT_ID=525471488695-1effcfqiu5fq0fas2soflei54nrsgipd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://dbbackend.devnexussolutions.com/auth/google/callback
# API_KEY=AIzaSyD9XB0vf2WgCwebEggiUPEnA0KvQTMombQ


# google IDs from DevNexus account
# GOOGLE_CLIENT_ID=490637615992-dj2b00g9hd3k58kde1e597nnnvtjjaj6.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_REDIRECT_URI=https://dbbackend.devnexussolutions.com/auth/google/callback


# PORT=3001
# DASHBOARD_DB_URI=mongodb+srv://archit:pass2025@cluster0.fgdhm3m.mongodb.net/DevNexus_Dashboard_Backend?retryWrites=true&w=majority&appName=Cluster0
# JWT_SECRET=DevNexusDashboardAdminJsonWebToken
# SESSION_SECRET_KEY=ThisIsSessionSecretKey
# EMAIL_USER=contactus@devnexus.in
# EMAIL_PASS=Pass@email10
# SMTP_HOST = smtp.hostinger.com
# SMTP_PORT = 465
# ADMIN_MAIL = contactus@devnexus.in
# ADMIN_MAIL2 = contactus@devnexus.in
# USER_MAIL = contactus@devnexus.in
# CLIENT_URL=https://meta-testing-3.vercel.app
# APP_ID=1312250540909733
# APP_SECRET=b81ecd9e498294bd027eb791347a6274
# VERIFY_TOKEN=mywebhooktoken
# REDIRECT_URI=https://dbbackend.devnexussolutions.com/facebook/callback
# FRONTEND_URL=https://meta-testing-3.vercel.app
# GOOGLE_CLIENT_ID=525471488695-1effcfqiu5fq0fas2soflei54nrsgipd.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_REDIRECT_URI=https://dbbackend.devnexussolutions.com/auth/google/callback



# google IDs from DevNexus account
# GOOGLE_CLIENT_ID=490637615992-dj2b00g9hd3k58kde1e597nnnvtjjaj6.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_REDIRECT_URI=https://dbbackend.devnexussolutions.com/auth/google/callback